<div class="max-w-6xl ml-auto mr-auto mt-12"> <!-- CUSTOMITZAR maxwidth-->
    <footer class="flex flex-wrap justify-between items-center my-6 px-6 py-4 border-t border-solid border-border_color">
        <a href="index.html">
            <img src="../src/assets/images/logo.svg" alt="Brand Logo" class="w-36"> <!-- CUSTOMITZAR width-->
        </a>
        <ul class="flex flex-row border-b border-solid border-border_color nav">
            <li class="px-2 pb-2">
                <a href="index.html" class="text-slate-600 active:text-default_green hover:text-default_green">Members</a>
            </li>
            <li class="px-2 pb-2">
                <a href="contact.html" class="text-slate-600 active:text-default_greenhover:text-default_green">Contact</a>
            </li>
        </ul>
        <ul class="flex flex-row">
            <li class="px-2">
                <a href="#" class="text-slate-600">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li class="px-2">
                <a href="#" class="text-slate-600">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="px-2">
                <a href="#" class="text-slate-600">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
