<div class="lg:flex-1 lg:mb-4 mb-8 flex-auto pr-6 pl-6 w-full">
    <label>Current role</label>
    <select id="dropdown" class="form-input-style" name="role" required>
        <option disabled selected value>Select</option>
        <option value="student">Student</option>
        <option value="job">Full Time Job</option>
        <option value="learner">Full Time Learner</option>
        <option value="preferNo">Prefer not to say</option>
        <option value="other">Other</option>
    </select>
</div>
