<header class="fixed top-0 left-0 right-0 bg-slate-50 z-50"><!-- CUSTOMITZAR maxwidth. crec q no serveix per res-->
    <div class="max-w-screen-xl ml-auto mr-auto px-4">
        <nav class="flex flex-row justify-between items-center p-6">
            <a href="index.html">
                <img src="../src/assets/images/logo.svg" alt="Brand Logo" class="w-52"> <!-- CUSTOMITZAR width-->
            </a>
            <ul class="hidden lg:flex-row lg:flex nav">
                <li class="px-2">
                    <a href="index.html" class="text-slate-600 active:text-default_green hover:text-default_green">Members</a>
                </li>
                <li class="px-2">
                    <a href="contact.html" class="text-slate-600 active:text-default_green hover:text-default_green">Contact</a>
                </li>
                <li class="px-2">
                    <p class="text-slate-300">More Soon!</p>
                </li>
            </ul>
            <div class="lg:hidden">
                <button class="flex items-center px-4 py-3 border rounded">
                    <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
        </nav>
    </div>
  </header>
